@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");

// font-family: 'Montserrat', sans-serif;
$font_m: "Montserrat", sans-serif;

$color_blue: #0068ef;
$color_darkBlue: #032087;

* {
  box-sizing: border-box;
  font-family: $font_m;
}

.firsSection {
  min-height: 100vh;
  position: relative;
  .sectionBG {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      height: calc(100vw * 0.56);
    }
  }
  &_text {
    position: relative;
    text-align: center;
    padding-top: 150px;
    color: $color_darkBlue;
    @media only screen and (min-width: 1600px) {
      padding-top: 30vh;
    }
    h2 {
      font-size: 27px;
      text-transform: uppercase;
      font-weight: 600;
    }
    h3 {
      font-size: 16px;
    }
  }
}

.searchContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-direction: column;

  .SearchMenu {
    background: #fff;
    display: inline-block;
    margin: auto;
    padding: 16px;
    border-bottom: 1px solid #707070;
    position: relative;
    .menuLine {
      position: absolute;
      height: 2px;
      background: $color_blue;
      width: 120px;
      transition: 0.3s;
      bottom: 0px;
    }
    &_ul {
      list-style: none;
      display: flex;
      margin-bottom: 0px;
      padding-left: 0;
      li {
        color: $color_darkBlue;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 46px;
        justify-content: space-between;
        font-size: 14px;
        // padding: 20px;
        // padding: 0 34px;
        cursor: pointer;
        width: 120px;
        font-weight: 500;
        &.active {
          color: $color_blue;
          svg {
            path {
              fill: $color_blue !important;
            }
          }
        }
      }
    }
  }
}

.search {
  &_options {
    .container {
      background: #fff;
      padding: 26px;
      display: flex;
      justify-content: space-between;
    }
    input,
    select {
      &.CtOrAirport {
        max-width: 300px;
        width: 100%;
        display: inline-block;
      }
      border: 1px solid #bdbdbd;
      border-radius: 3px;
      padding: 10px 15px;
      &::placeholder {
        color: #4b4c4d;
      }
    }
    select {
      width: 130px;
    }
    button {
      height: 45px;
      width: 200px;
    }
  }
}

.marketSumContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  @media only screen and (min-width: 1600px) {
    margin-top: 90px;
  }
  &_container {
    background: #fff;
    display: inline-block;
    display: flex;
    padding: 15px;
    border-radius: 3px;
    button {
      color: $color_blue;
      border: 2px solid #0068ef;
      background: #fff;
      margin-left: 30px;
      padding-left: 40px;
      padding-right: 40px;
    }
    h4 {
      color: $color_darkBlue;
    }
    > div {
      padding: 0 16px;
      border-right: 1px solid #70707069;
      color: #092e53;
      span {
        color: #3acc89;
        font-size: 12px;
      }
    }
  }
}

section.features {
  background: #fafafa;
  text-align: center;
  color: $color_darkBlue;
  padding: 50px 0;
  h4 {
    margin-top: 20px;
  }
  p {
    font-size: 15px;
  }
}

.topDestinations {
  background: #fafafa;
  padding-top: 50px;
  &_menu {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    li {
      margin-bottom: 6px;
    }
    a {
      color: $color_darkBlue;
      font-size: 14px;
      position: relative;
      padding-bottom: 3px;
      &::before {
        position: absolute;
        width: 0px;
        background: $color_darkBlue;
        content: "";
        bottom: 0;
        transition: 0.3s;
      }
      &:hover {
        text-transform: none;

        &::before {
          width: 100%;
        }
      }
    }
  }
  h4 {
    color: $color_darkBlue;
    font-size: 24px;
    margin-bottom: 30px;
  }
  &_item {
    position: relative;
    height: 340px;
    cursor: pointer;
    &:hover {
      .topDestinations_item_text-hover {
        transform: translate(-50%, -50%);
        opacity: 1;
        animation-duration: 0.4s;
      }
      .blur-hover {
        opacity: 1;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      display: inline-block;
    }
    .blur {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.25253851540616246) 19%,
        rgba(0, 0, 0, 0.19371498599439774) 55%,
        rgba(255, 255, 255, 0) 100%
      );
      &-hover {
        background: rgba(92, 92, 245, 0.562);
        opacity: 0;
        transition: 0.3s;
      }
    }
    &_text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      h5 {
        margin-bottom: 2px;
        font-size: 22px;
        font-weight: 600;
      }
      h6 {
        font-size: 16px;
        margin-bottom: 0;
      }
      &-hover {
        transform: translate(-50%, 90%);
        position: absolute;
        opacity: 0;
        transition: 0.4s;

        .price {
          position: absolute;
          white-space: nowrap;
          transform: translateX(-50%);
          left: 50%;
        }
      }
    }
  }
  padding-bottom: 40px;
}

@keyframes topDestinationCardHover {
  0% {
    transform: translate(-50%, 90%);
    opacity: 0;
  }
  // 50% {
  //   transform: rotate(0.2deg);
  // }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.footer {
  padding: 60px 0;
  background: $color_darkBlue;
  color: #fff;
  padding-top: 140px;
  a {
    color: #fff;
  }
  &_socials {
    a {
      display: inline-block;
      margin-right: 8px;
      &:hover {
        transition: 0.3s;
        circle {
          fill: #cfb9b9;
        }
      }
    }
  }

  &_menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  label {
    font-weight: bold;
  }
}

.header {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-top: 20px;
  &_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_menu {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    position: relative;
    li {
      margin: 0 14px;
      a {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        display: inline-block;
        padding-bottom: 3px;
        &::before {
          position: absolute;
          width: 0%;
          background: #fff;
          content: "";
          bottom: 0;
          height: 2px;
          transition: 0.3s;
        }
        &:hover {
          text-decoration: none;
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
  &_loginBtns {
    button {
      width: 114px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      margin-left: 8px;
    }
  }
}

.subscribe {
  background: #fafafa;

  &_form {
    button {
      width: 170px;
      display: inline-block;
      height: 46px;
      margin-left: 10px;
    }
  }
  input {
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding: 10px 15px;
    max-width: 400px;
    display: inline-block;
    width: 100%;
    &::placeholder {
      color: #979797;
    }
  }
  .container {
    transform: translateY(50%);
    padding: 30px;
    background: #fff;
    box-shadow: 0px -3px 15px #03208708;
    border-radius: 3px;

    h6 {
      color: $color_darkBlue;
      font-size: 20px;
    }
    p {
      color: #4b4c4d;
      margin-bottom: 0;
      font-size: 14px;
    }
  }
}

.btn {
  font-weight: 500;
  &-primary {
    background: $color_blue;
  }
  &-light {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      background: #fff;
      color: $color_blue;
      border-color: #fff;
    }
  }
}

.articlesSlider {
  margin-top: 70px;
  margin-bottom: 50px;
  h3 {
    font-size: 24px;
    color: $color_darkBlue;
    margin-bottom: 20px;
  }
}
.ArticlesSlider_wrapper {
  position: relative;
  .controllers {
    margin: auto;
    text-align: center;
    span {
      margin: 20px;
      cursor: pointer;
      &.prev {
        position: absolute;
        top: 40%;
        left: calc((100vw - 1340px) / 2);
        z-index: 1;
      }
      &.next {
        position: absolute;
        top: 40%;
        left: calc((100vw - ((100vw - 1140px) / 2)));
        z-index: 1;
      }
    }
  }
}

.ArticlesSlider {
  position: relative;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 1140px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  &_sliderItem {
    // width: 100vw;
    min-width: calc((1240px) / 2);
    min-height: 50vh;
    transition: ease-in-out 0.4s;
    // opacity ease-in-out 0.4s;
    .content {
      // border: 2px solid green;
      height: 100%;
      transition: 0.6s;
      filter: blur(2px);

      h4 {
        color: $color_darkBlue;
        margin-top: 20px;
      }
      div {
        color: #4b4c4d91;
        font-size: 14px;
        margin-bottom: 6px;
      }
      p {
        color: #4b4c4d;
        font-size: 14px;
      }
      img {
        width: 100%;
        height: 330px;
        object-fit: cover;
      }
      transform: scale(0.6);
    }
    &.active {
      .content {
        // border: 2px solid green;
        filter: blur(0px);
        transform: scale(1);
      }
    }

    &.hide-right {
      .content {
        border: 2px solid green;
        opacity: 0;
        filter: blur(8px);
      }
    }
  }
}

.sliderContainer {
  position: relative;
  min-height: 80vh;
  .slider-controllers {
    position: absolute;
    bottom: 160px;
    left: calc(50vw + 1000px / 2);
    z-index: 3;
    svg {
      cursor: pointer;
    }
    .prev {
      margin-right: 15px;
    }
  }
  .arrows {
    span {
      transition: 0.3s;
      display: inline-block;
    }
    svg:hover {
      transition: scale(1.15);
    }
  }
  .slider_indicators {
    color: #fff;
    font-size: 36px;
  }
  .slider_items {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;

    &.active-anim {
      opacity: 1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
    }
    .slider_textBox {
      margin-bottom: 80px;
      p {
        color: #fff;
        max-width: 490px;
      }
    }
    .bgBlur {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(2, 20, 85, 0.63) 16%,
        rgba(2, 20, 85, 0) 100%
      );
    }
    .slider_title {
      max-width: 360px;

      color: #fff;
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}

.curencySelect {
  background: transparent;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  option {
    font-weight: 700;
    background: grey;
  }
}
.langSelect {
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  margin-left: 6px;
  margin-right: 10px;

  > svg {
    transform: translateY(-3px);
  }
}

.loginPage {
  .container {
    max-width: 1400px;
  }
  .contentWrapper {
    max-width: 400px;
    margin-top: 132px;
    margin-left: 40px;
  }
  .backLink {
    font-size: 14px;
    color: #4b4c4d;
    a {
      color: $color_blue;
      margin-left: 5px;
      display: inline-block;
      font-weight: 500;
    }
  }
  .form_title {
    color: $color_darkBlue;
    font-size: 22px;
    font-weight: 600;
  }
  .fbGoole_BtnsGroup {
    button {
      &.fbBtn {
        background-color: #3c5899;
      }
      padding-left: 5px;
      width: 260px;
      text-align: left;
      svg {
        margin-right: 10px;
      }
    }
  }

  .separatorLine {
    width: 100%;
    height: 2px;
    background: #bdbdbd;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      background: #fff;
      text-transform: uppercase;
      color: $color_darkBlue;
      font-weight: 500;

      font-size: 14px;
    }
  }
  input.text {
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    height: 45px;
    &::placeholder {
      color: #767777b9;
      font-weight: 500;
    }
  }
  .form-control-label {
    font-size: 14px;
    color: $color_darkBlue;
    font-weight: 600;
    justify-content: space-between;
    a {
      font-weight: normal;
    }
  }
  .form-check-label {
    font-size: 14px;
    color: $color_darkBlue;
    font-weight: 500;
  }
  h2 {
    font-weight: 600;
    font-size: 27px;
    margin-top: 40px;
    text-transform: uppercase;
    color: $color_darkBlue;
    margin-top: 100px;
  }
  .loginBg {
    filter: blur(2px);
    position: absolute;
    width: 48%;
    min-height: 100vh;
    background: url("../public/img/Group\ 7@2x.png");
    background-size: cover;
  }

  @media only screen and (max-width: 1400px) {
    .contentWrapper {
      margin-top: 70px;
    }
    h2 {
      margin-top: 40px;
    }
  }
}

.userProfile {
  background: #fafafa;
  min-height: 100vh;
  padding-bottom: 60px;
  &_container {
    background: #fff;
    box-shadow: 0px 3px 15px #00000005;
  }
  .borderBottom {
    border-bottom: 1px solid #7070703a;
  }
  .userCard {
    img {
      max-width: 50px;
      border-radius: 50px;
      margin-right: 10px;
    }
    .name {
      color: #4b4c4d;
      font-weight: 500;
    }
    .Link {
      color: #0068ef;
      font-size: 12px;
      cursor: pointer;
      font-weight: 500;
    }
    display: flex;
    padding: 10px;
    border: 1px solid #7070703a;
  }
  &_form {
    padding: 25px;
    h5 {
      font-size: 15px;
      color: #4b4c4d;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    label {
      font-size: 13px;
      color: #2d363f;
      font-weight: 500;
    }
    .form-control {
      border-color: #bdbdbd;
    }
  }
  &_title {
    padding: 14px 25px;
    border-bottom: 1px solid #7070703a;
    font-size: 15px;
    color: #4b4c4d;
    font-weight: 500;
  }
  .sideMenu {
    max-width: 240px;
    width: 100%;
    background: #fff;
    // box-shadow: 0 3 13 #00000005;
    box-shadow: 0px 3px 15px #00000005;
    &_title {
      padding: 14px 0 14px 24px;
      color: #4b4c4d;

      font-size: 15px;
      font-weight: 500;
    }
    ul {
      padding-left: 0;
      list-style: none;
    }
    li {
      padding: 14px 0 14px 14px;
      align-items: center;
      display: flex;
      font-weight: 600;
      font-size: 12px;
      color: $color_darkBlue;
      border-left: 2px solid transparent;
      transition: 0.2s;
      cursor: pointer;
      &.active,
      &:hover {
        border-left: 2px solid $color_darkBlue;
        background: #f9fafc;
      }
      svg {
        width: 34px;
      }
    }
  }
}

.header_isAuth {
  background: $color_darkBlue;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    justify-content: space-between;
  }

  .uerMenu {
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50px;
      margin-right: 5px;
    }
  }

  &_menu {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    li {
      margin: 0 10px;
    }
    a {
      font-size: 14px;
      color: #fff;
      font-weight: 500;
    }
  }
}

.homeBg {
  .a,
  .bt {
    fill: #fff;
  }
  .b {
    clip-path: url(#a);
  }
  .c {
    fill: url(#b);
  }
  .d,
  .e {
    fill: #f9f2d6;
  }
  .d {
    opacity: 0.55;
  }
  .f {
    fill: #f9e79d;
  }
  .g {
    fill: url(#c);
  }
  .h,
  .i {
    fill: #fdac51;
  }
  .i {
    opacity: 0.57;
  }
  .j {
    fill: #ed8a4c;
  }
  .k {
    fill: url(#d);
  }
  .l {
    fill: #525921;
  }
  .m {
    fill: #5c6325;
  }
  .n {
    fill: #6ea698;
  }
  .ak,
  .ap,
  .be,
  .bg,
  .bl,
  .bm,
  .o,
  .p {
    fill: #231f20;
  }
  .ag,
  .o {
    opacity: 0.22;
  }
  .p {
    opacity: 0.15;
  }
  .q {
    fill: #588579;
  }
  .r {
    fill: #515720;
  }
  .s {
    fill: #717a2e;
  }
  .t {
    fill: #ad7261;
  }
  .u {
    fill: #69443b;
  }
  .v {
    fill: #8b8b13;
  }
  .w {
    fill: #7e8732;
  }
  .x {
    fill: #9c9c15;
  }
  .y {
    fill: #717a2d;
  }
  .z {
    fill: #a3a316;
  }
  .aa {
    fill: #666e29;
  }
  .ab {
    fill: #5a6124;
  }
  .ac {
    fill: #fbd4a1;
  }
  .ad {
    fill: #fbc888;
  }
  .ae {
    fill: url(#e);
  }
  .af {
    fill: #f9f8ef;
  }
  .ag {
    fill: #318cba;
  }
  .ah {
    fill: #fbbf73;
  }
  .ai {
    fill: #a3801e;
  }
  .aj {
    fill: #5e5511;
  }
  .ak {
    opacity: 0.29;
  }
  .al {
    fill: #818111;
  }
  .am {
    fill: #e35d67;
  }
  .an {
    fill: #ff8c95;
  }
  .ao {
    fill: #fcc;
  }
  .ap {
    opacity: 0.19;
  }
  .aq {
    fill: #6e7078;
  }
  .ar {
    fill: #835353;
  }
  .as {
    fill: #ab765a;
  }
  .at {
    fill: #633f3f;
  }
  .au {
    fill: #f18d4f;
  }
  .av {
    fill: #e0c8bf;
  }
  .aw {
    fill: #bd7c6a;
  }
  .ax {
    fill: #fba947;
  }
  .ay {
    fill: #81838c;
  }
  .az {
    fill: #ffa873;
  }
  .ba {
    fill: #4f5156;
  }
  .bb {
    fill: #45474b;
  }
  .bc {
    fill: #6a6b73;
  }
  .bd {
    fill: #71727a;
  }
  .be {
    opacity: 0.2;
  }
  .bf {
    fill: #fbb45f;
  }
  .bg {
    opacity: 0.31;
  }
  .bh {
    fill: #fbbf78;
  }
  .bi {
    fill: #d1d3d4;
  }
  .bj {
    fill: #cb9c9b;
  }
  .bk {
    fill: #b09e97;
  }
  .bl {
    opacity: 0.3;
  }
  .bm {
    opacity: 0.27;
  }
  .bn {
    fill: #a16a5b;
  }
  .bo {
    fill: #c48c7b;
  }
  .bp {
    fill: #e3b1b0;
  }
  .bq {
    fill: #e8b6b5;
  }
  .br {
    fill: #dbabaa;
  }
  .bs {
    fill: #b38988;
  }
  .bt {
    opacity: 0.09;
  }
  .bu {
    opacity: 0.41;
    fill: url(#f);
  }
}

.svgBGHome {
  #Layer_13 {
    animation-name: example;
    animation-duration: 3.5s;
    transform: translate(268px, 81px);
  }

  #bakbak {
    position: relative;
    transform-origin: center center;
  }
  #bakbak {
    position: absolute;
    animation-name: rotate2;
    animation-duration: 3.5s;
    transform: rotate(0deg);

    // transform: rotate(0deg);
    // transform-origin: 150px 100px;
    // transform-origin: center center;
  }

  #Layer_10 {
    position: absolute;
    animation-name: mountine;
    animation-duration: 3.5s;
    // transform: translateY(-60px);
    animation-fill-mode: forwards;
  }
}

@keyframes example {
  from {
    transform: translate(668px, 81px);
  }
  to {
    transform: translate(268px, 81px);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0.2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes mountine {
  0% {
    transform: translateY(60px);
  }
  // 50% {
  //   transform: rotate(1deg);
  // }
  100% {
    transform: translateY(0px);
  }
}
